.buddy {
    width: 65%;
    margin: auto;
}
.nav {
    width: 65%;
    height: 60px;
    background-color: skyblue;
    color: white;
    margin: auto;
    display: flex;

}

.browser {
    display: flex;
    margin-top: 35px;
    padding-left: 10px;
    
}
.right {
    float:right;
    width: 150px;
    height: 50%;
    margin-top: 30px;
    margin-left: 500px;
}
.saving {
    width: 65%;
    margin: auto;
}
.shoppers {
    width: 65%;
    height: 300px;
    display: flex;
    margin: auto;

}
.shoppers-img {
    width: 33%;
    height: 100%;
    margin: auto;
}
.frequently {
    width: 65%;
    margin: auto;
}